<div class="page-header">
  <h1>
    Watchlist items
    <%= link_to new_watchlist_item_url, :class => "btn btn-lg btn-success" do %>
      <i class="fa fa-plus"></i>
    <% end  %>
  </h1>
</div>

<div class="row">
  <div class='col-xs-12'>
    <table class="table">
      <tr>
        <th>User</th>
        <th>Movie</th>
        <th></th>
        <th></th>
      </tr>
      <% @watchlist_items.each do |item| %>
        <tr>
          <td><%= item.user.email %></td>
          <td><%= link_to item.movie.title, item.movie %></td>
          <td><%= render('movies/watched_button', movie: item.movie) %></td>
          <td><%= render('movies/watchlist_button', the_movie: item.movie) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
